Task2_Workflow_DharaniMaddali.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        144,
        144
      ],
      "id": "835d40e4-fdb9-4135-ba83-5dfb29c5fd26",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://hacker-news.firebaseio.com/v0/topstories.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        368,
        144
      ],
      "id": "1cad1877-62cd-47be-ad57-1f792b2847a2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\nconst inputData = items.map(item => item.json); // Extract the array from the json\nconst top5 = inputData.slice(0, 5);\n\nreturn top5.map(id => {\n  return {\n    json: {\n      storyId: id\n    }\n  };\n});\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        144
      ],
      "id": "d5596512-4b50-4f78-a609-bfda321a6da3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://hn.algolia.com/api/v1/items/{{$json.storyId}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        784,
        144
      ],
      "id": "b2870ee2-f67d-4457-92a5-8828e52b30ff",
      "name": "HTTP Request1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "89537bdb-6f4e-4518-9c1c-c537fba2c8ca",
              "leftValue": "={{$json.points}}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        144
      ],
      "id": "31d865df-c44e-4ae9-b71d-dc69abbfe5a7",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "let digest = \"🚀 Hacker News Digest\\n\\n\";\n\nfor (const item of $input.all()) {\n  const data = item.json;\n\n  digest += `• ${data.title}\\n`;\n  digest += `Author: ${data.author}\\n`;\n  digest += `Points: ${data.points}\\n\\n`;\n}\n\nreturn [\n  {\n    json: {\n      message: digest\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        48
      ],
      "id": "8af27b8a-9c9d-4d19-8210-08ca72034fe7",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1508792064115081269/_r19QTyGrAFJXhEp1UjlzapXMNhcp6pcfillUKRHPY7kiZuUGlFKp1BdU-WqO6Sk6YtO",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{$json.message}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1408,
        48
      ],
      "id": "1ffa56af-7e36-4f11-836f-ca08f0fcfa8a",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ee2ea601-183e-4a2f-b9e4-7831734dd9d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af8fdb20cc476719f2234815fa95a39255b85ea2f4d6da3aea72af5da34b7857"
  },
  "id": "sd73ggTOxVyF4tyi",
  "tags": []
}